body{
  background-image: url(https://image.architonic.com/img_pro2-4/145/0841/sahara-design-collection-h.jpg);
  background-position: center center ; 
  background-size: cover;
  background-attachment: fixed;
  align-content: center;
  text-align: center;
}


#Name{
  margin-top: auto;
 font-size: 2.5rem;
font-style: italic;
  
}





.d-flex {
  font-size: 2rem;
  justify-content: center;
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
   flex-grow: 0;
  justify-content: 2px; 
}


ul{
margin-bottom: 2rem;
margin-left: 2rem;
font-size: xx-large;

}

.Aboutpic {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}


.abouttext{
  margin: 0 auto; 
font-size: 2rem;

}

.hide {
display: none;
}


.col-4{
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px;
  border: 1px solid BLACK;
  box-shadow: 1px 2px 2px 1px;
  padding: 0px;
  justify-content: space-around;
  max-width: 400px;
  
  } 

.flex-wrap{
  justify-content: center;
}

img {
  height: 200px;
  margin: auto 0;
  width: 200px;

}

.container{
  display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    float: none; 

  }
.navbar-collapse {
    flex-grow: 0; 
    text-decoration: solid;
    font-size: 2rem;
    
}
.collapse:not(.show) {
  /* display: none; */
  display: inherit;
  border: solid;
  background-color: rgba(240, 128, 128, 0.5);
  margin-top: 2rem;

}
.card{
  display: block;
  background: none;
  }

  .row {
    margin: 0 auto; 
    justify-content: center;
    // justify-content: space-around; 
}
.container {
  background: none;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  float: none;
}

.jumbotron {
  margin-top:2rem;
  background:none; 
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: .3rem;
  max-width: 600px;
  border:solid;
  border-width: thick;
  box-shadow: 2rem;
  
}

.text-center{
  padding:0;
  font-stretch: condensed;
}

.techpic{
  height: 600px;
    margin: auto 0;
    width: 500px;
    background: none;
}

a {
  padding: 1rem;
  color: chocolate;
  margin: 0 auto;
  
    
} 