body{
  background-color: blanchedalmond;
}
body {
  background-image: url(https://image.architonic.com/img_pro2-4/145/0841/sahara-design-collection-h.jpg);
  background-position: center center ; 
  background-size: cover;
  background-attachment: fixed;
}
#Name{
  font-size: 75px;
  text-align: center;
  font-style: italic;
  -webkit-text-fill-color: Black;
}



.ContactMeList{
  width:60rem;
}

.d-flex {
  font-size: 2rem;
  margin-right: 30rem;
}
ul{
margin-bottom: 1rem;
margin-left: 2rem;

font-size: xx-large;
}

.Aboutpic {
  width:400px;
  border-radius: 100%;
  margin-top: 5rem
}

.abouttext{
float:right;
margin-left: 0px;
margin-left: 0rem;
margin-top: 10rem;
font-size: 1.5rem;

}

.hide {
display: none;
}

